/**
variables
 */
.game {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 950px;
  background: #FF7E00;
  margin: 0 auto; }
  .game__col_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(350px - 60px);
    padding: 50px 30px;
    color: #fff; }
  .game__col_2 {
    width: 400px;
    min-width: 400px; }
  .game__col_3 {
    width: calc(200px - 40px);
    padding: 20px; }
  .game__info-row_1 {
    flex: 1;
    text-align: center; }
  .game__info-row_2 {
    flex: 2;
    display: flex;
    align-items: center; }
  .game__info-row-3 {
    flex: 1; }
  .game__logo {
    flex: 1;
    width: 140px;
    height: 100px;
    margin: 0 auto;
    background: url("../../../images/game/game_1.svg") no-repeat;
    background-size: contain; }
  .game__name {
    margin: 20px auto 0 auto;
    font-size: 18px; }
  .game__prise {
    text-align: center;
    font-size: 18px; }
    .game__prise-text {
      font-size: 40px;
      margin: 12px 0; }
  .game__button {
    width: 100%;
    font-size: 14px; }
    .game__button_rules {
      width: 100px;
      margin: 20px auto 0 auto;
      color: #000;
      border: 1px solid #000; }
    .game__button_approve, .game__button_random, .game__button_clear, .game__button_exit {
      height: 50px;
      width: 160px; }
  .game__description {
    font-size: 14px; }
  .game__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .game__actions-row {
      width: 100%; }
      .game__actions-row_2 {
        color: #fff;
        font-size: 14px;
        font-weight: 400; }
        .game__actions-row_2 > div:not(:first-child) {
          margin-top: 25px; }
        .game__actions-row_2 .rw-dropdown-list {
          margin: 12px 0; }
    .game__actions-title {
      padding-left: 7px;
      width: 77px; }
  .game__price {
    padding-left: 7px; }
    .game__price-value {
      margin: 12px 0;
      font-size: 24px; }
    .game__price-text {
      margin: 12px 0; }
  .game__description {
    margin-top: 12px; }
  .game__editions .rw-dropdown-list {
    width: 80px; }
  .game__edition .rw-dropdown-list {
    width: 100px; }
  .game__edition-time {
    padding-left: 15px; }
  .game__card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #fff; }
